---
export interface Props {
  project: {
    title: string;
    previewLink: string;
    imgLink: string;
    builtWithFront: string;
    builtWithBack: string;
    description: string;
  };
}
const { project } = Astro.props as Props;
---

<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 portfolio-item-wrapper">
  <div class="row">
    <div class="col-md-12">
      <div class="portfolio-item-inner">
        <a href={project.previewLink}>
          <img class="img-responsive img-hover" src={project.imgLink} alt="" />
          <div class="contentHover">
            <p class="portfolio-item-title">{project.title}</p>
            <ul>
              <li>Front: {project.builtWithFront}</li>
              <li>Back: {project.builtWithBack}</li>
            </ul>
            <div class="text-center">
              <p>{project.description}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
